$backgroundColor: #060113;
$textColor: #968daa;
$addTextColor: #e5ce4b;
$rmvTextColor: #353438;
$binColor: #030321;
$bannerBG: #120239;
$btnColor: #210761;

html{
  height: 100%;
}
body{
  min-height: 100%;
  background-color: $backgroundColor;
  color: $textColor;
  font-family: 'Rajdhani', sans-serif;
}
#mainContent{
  height: 100vh;
}

#albumPreviews{
  justify-content: space-around;
  height: 100%;
  padding-top: 1.5%;
  & img{
    padding: 0.5%;
    max-height: 300px;
    flex-grow: 1;
  }
}
.row-center{
  height: 100%;
}
.col-center{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navbar-fixed-bottom{
  display: flex;
  justify-content: center;
}

.container-fluid{
  //max-width: 1000px;
}

#header{
  min-height: 10%;
  display: flex;
  justify-content: center;
  background-color: $bannerBG;
}
.navbar-fixed-bottom{
  background-color: $bannerBG;
  align-items: center;
}

#albumPreviews img {
  border: 1px solid $btnColor;
}



//horizontal display of available albums
#albumShelf{
  margin-left: 0;
  margin-right: 0;
  display: flex;
  justify-content: center;
  height: 25%;
  overflow: hidden;
  & img{
    height: 150px;
    padding: 0;
    //flex-grow: 1;
    border: 1px solid $btnColor;
    transition: border 0.5s ease-in;
    &:hover{
      border: 1px solid $addTextColor;
    }
  }
  & div{
    flex-grow: 1;
    padding: 5px;
    display: flex;
    justify-content: center;
  }
}

.selectedAlbumCover{
  max-height: 150px;
  border: 1px solid $addTextColor;
}

//columns each containing bin and desc.
.col-sm-4{
  height: 100%;
}

//row containing both bins and album preview info
#trackBins{
  margin-top: 5%;
  height: 35%;
}

//row containing submittal/clear buttons
#inputArea{
  margin-top: 5%;
  display: flex;
  justify-content: flex-end;
  & button{
    margin-right: 10%;
  }
}

//bin elements
#allTracks, #chosenTracks{
  border: 1px solid black;
  min-height: 95%;
  background-color: $binColor;
  border: 1px solid black;
  box-shadow: inset 0 0 30px 2px black;
}


//hover effects for song titles
#allTracks li, #chosenTracks li{
  color: $textColor;
  transition: color 0.75s ease-in;
}

#allTracks li:hover{
  color: $addTextColor;
  transition: color 0.1s;
}

#chosenTracks li:hover{
  color: $rmvTextColor;
  transition: color 0.1s;
}
@-moz-keyframes fadeIn {
    from {color:$addTextColor;}
    to {color:$textColor;}
}

@-webkit-keyframes fadeIn {
    from {color:$addTextColor;}
    to {color:$textColor;}
}

@keyframes fadeIn {
    from {color:$addTextColor;}
    to {color:$textColor;}
}

#chosenTracks li {
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.btn-primary, .btn-primary:focus{
  //get rid of bootstrap "shape"
  background-image: none;
  background-color: $btnColor;
  border: none;
  color: $addTextColor;
  transition: color 0.5s ease-in, background-color 0.5s ease-in;
}

.btn-primary:hover{
  background-image:none;
  background-color: $addTextColor;
  color: $btnColor;
}
