html{
  height: 100%;
}
body{
  min-height: 100%;
}
#mainContent{
  height: 100vh;
}

#albumPreviews{
  justify-content: space-around;
  height: 100%;
  padding-top: 1.5%;
  & img{
    padding: 0.5%;
    max-height: 300px;
    flex-grow: 1;
  }
}
.row-center{
  height: 100%;
}
.col-center{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navbar-fixed-bottom{
  display: flex;
  justify-content: center;
}

.container-fluid{
  max-width: 1000px;
}

#header{
  min-height: 10%;
  display: flex;
  justify-content: center;
}

#albumShelf{
  margin-left: 0;
  margin-right: 0;
  display: flex;
  justify-content: space-between;
  max-height: 20%;
  overflow: auto;
  & img{
    max-width: 150px;
    max-height: 150px;
    padding: 0;
    flex-grow: 1;
  }
}

.selectedAlbumCover{
  max-height: 150px;
}

//columns each containing bin and desc.
.col-sm-4{
  height: 100%;
}

//bin elements
#allTracks, #chosenTracks{
  border: 1px solid black;
  min-height: 95%;
}

#allTracks li:hover{
  color: blue;
}

#chosenTracks li:hover{
  color: red;
}

//row containing both bins and album preview info
#trackBins{
  margin-top: 5%;
  height: 35%;
}

//row containing submittal/clear buttons
#inputArea{
  margin-top: 5%;
  display: flex;
  justify-content: flex-end;
  & button{
    margin-right: 10%;
  }
}
